<div class="modal-header">
    <div class="modal-title h4">Fetch selected customers</div>
  </div>
  <div class="modal-body overlay overlay-block cursor-default">
    <ng-container *ngIf="isLoading">
      <div class="overlay-layer">
        <div class="spinner spinner-lg spinner-primary"></div>
      </div>
    </ng-container>
  
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
            <th>
              No. Empleado
          </th>
          <th>
              NOMBRE
          </th>
          <th>
              APELLIDO P
          </th>
          <th>
              APELLIDO M
          </th>
          <th>
              CORREO
          </th>
          </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{customer.noEmpleado}}</td>
            <td>{{customer.nombre}}</td>
            <td>{{customer.apellido_Paterno}}</td>
            <td>{{customer.apellido_materno}}</td>
            <td>{{customer.correo_Electronico}}</td>
        </tbody>
      </table>
    </div>
  
  </div>
  
  <div class="modal-footer">
    <div>
      <button type="button" class="btn btn-light btn-elevate mr-3" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary btn-elevate" (click)="fetchSelected()">Fetch</button>
    </div>
  </div>